* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(rgba(249, 249, 249, 0.88), rgba(249, 249, 249, 0.9)), url("img/phone.jpg") center/cover no-repeat fixed;
    color: #133;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #2874f0;
    color: #fff;
}

header .logo{
    font-size: 24px;
    font-weight: bold;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.hero{
    text-align: center;
    padding: 60px 20px;
    background: #eaf2ff;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn{
    background: #ff9900;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.products{
    padding: 40px 20px;
}

.product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product{
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    text-align: center;
}

.product img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.product h3{
    margin: 10px 0;
}

.product p{
    color: #ff6600;
    font-weight: bold;
}

.cart{
    padding: 40px 20px;
    background: #fff;
}

.total{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

footer{
    text-align: center;
    padding: 20px;
    background: #2874f0;
    color: #fff;
    margin-top: 40px;
}